body{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}
.news_category, .heading_category{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading_category{
    width: 100%;
}
.news_category a, .heading_category a{
    text-decoration: none;
    font-size: 12px;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 600;
    color: #505050;
    line-height: 12px;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    letter-spacing: .67px;
    margin-left: 10px;
}
a:hover{
    text-decoration: underline;
}
.burger{
    position: relative;
    z-index: 99999;
    background: #133b5a;
    height: 38px;
    width: 38px;
    border-radius: 17.5px;
}
.burger svg{
    color: white;
    font-size: 20px;
    margin-top: 9px;
    font-weight: bolder;
}
.burger_flex h5{
    position: absolute;
    left: 50px;
    top: -30px;
    font-size: 22px;
    line-height: 24px;
    font-family: 'Fira Sans',sans-serif;
    color: #133b5a;
}
.heading_category h5{
    font-size: 22px;
    line-height: 24px;
    font-family: 'Fira Sans',sans-serif;
    color: #133b5a;
    margin: 0;
    cursor: pointer;
}
.heading_category h5:hover{
    text-decoration: underline;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: black;
    opacity: .7;
    z-index: 20;
}
.select{
    background: #133b5a;
    color: #FFF;
    position: absolute;
    left: 0;
    top: -5px;
    width: 300px;
    height: auto;
    text-align: left;
    z-index: 99999;
}
.select p{
    padding-left: 6%;
    color: #fff;
    font-size: 16px;
    line-height: 45px;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 600;
    border-bottom: 1px dashed rgba(255,255,255,.50);
    display: block;
    cursor: pointer;
}
.select p:hover{
    text-decoration: underline;
}
.material_btn{
    background: red!important;
}