.forgotpass{
    color:rgb(60, 141, 187);
    text-align: left;
}
.signinButton{
    background-color:rgb(51,51,51);
    padding:15px 150px;
    font-weight:500;
    color:#ffffff;
    border-radius: 4px;
}

.freetrial{
    color:rgb(54, 47, 47);
    text-align:center;
}