
.slider_div img{
  width: 150px; 
  margin: 0 15px;
}
.mytextdiv{
    display:flex;
    flex-direction:row;
     align-items: center;
     width: 80%;
     margin: 0 auto;
  }
  .mytexttitle{
    flex-grow:0;
  }
  
  .divider{
    flex-grow:1;
    height: 1px;
    background-color: #9f9f9f;
  }
  .mytextdiv Span{
      color:rgba(136, 136, 136,0.8)
  }
