body{
    margin: 0;
    padding: 0;
}
.Sidebar{
    height: 100%;
    width: 200px;
    margin-top: 1%;
    margin-left: 10%;
}
.dashboardContent{
    margin: 1%;
    /* background-color: black; */
    width: 60%;
    padding: 1%;
}
.dashboardWrapper{
    display: flex;
    flex-direction: row;
}
.SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
}

.row{
    color: rgb(130,130,130);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.row:hover{
    background-color: rgb(236,246,248);
    cursor: pointer;
    color: rgb(71,159,198);
}
.SidebarList .active{
    background-color: rgb(236,246,248);
    color: rgb(71,159,198);
}
.icon{
    flex: 30%;
    display: grid;
    place-items: center;
}
.title{
    flex: 70%;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1.4px;
    text-align: left
}